<div class="side-contact">
    <div class="side-contact-box">
        <svg class="side-contact-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-whatsapp"></use>
        </svg>
        <div class="side-contact-text">
            +91-7838463655
        </div>
    </div>
    <div class="side-contact-box">
        <svg class="side-contact-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-facebook2"></use>
        </svg>
        <div class="side-contact-text">
            https://facebook.com/webmedev
        </div>
    </div>
    <div class="side-contact-box">
        <svg class="side-contact-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-mail2"></use>
        </svg>
        <div class="side-contact-text">
            asku3000@gmail.com
        </div>
    </div>
</div>