//primary
// $color-primary:#55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
///////////////////////////
//primary light violet
// $color-primary:#5903fa;
// $color-primary-light: #6949f7;
// $color-primary-dark: #1c098a;
/////////////////////
//primary violet
$color-primary:#5903fa;
$color-primary-light: #6248d6;
$color-primary-dark: #1a0591;
//grey light
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#faf9f9;
$color-grey-light-3:#f4f2f2;
$color-grey-light-4:#eee;
$color-grey-light-5: #ccc;
//grey dark
$color-grey-dark-1:#999;
$color-grey-dark-2:#777;
$color-grey-dark-3:#333;
///general
$color-white: #fff;
$color-black: #000;
$color-whatsapp: #06f54d;
$color-mail:#f70606;
$color-facebook: #0646f8;