//primary
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
//grey light
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#faf9f9;
$color-grey-light-3:#f4f2f2;
$color-grey-light-4:#eee;
$color-grey-light-5: #ccc;
//grey dark
$color-grey-dark-1:#999;
$color-grey-dark-2:#777;
$color-grey-dark-3:#333;
///general
$color-white: #fff;
$color-black: #000;