.logo {
    display: flex;
    align-items: center;
    transition: all .2s ease-in;
    cursor: pointer;
    &-image {
        width: 100%;
        height: inherit;
    }
    &:hover {
        transform: scale(1.1);
    }
}