@import "./app/shared/variables";
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    color: $color-grey-dark-3;
    font-size: 1.6rem;
    padding: .5rem 2rem;
    background-color: $color-grey-light-1;
    // background-image: linear-gradient(to right bottom, $color-grey-light-3, $color-grey-dark-2);
}

.heading {
    &-main {
        letter-spacing: .5px;
        font-weight: 800;
        color: inherit;
        text-transform: uppercase;
        font-size: 3.5rem;
    }
    &-secondary {
        letter-spacing: .5px;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
        font-size: 2.7rem;
    }
    &-tertiary {
        color: inherit;
        text-transform: uppercase;
        font-size: 2rem;
    }
}

.paragraph {
    font-size: 1.6rem;
}

.util-margin-bottom-small {
    margin-bottom: 1rem;
}

.util-margin-bottom-medium {
    margin-bottom: 2rem;
}

.util-margin-bottom-big {
    margin-bottom: 4rem;
}

.util-margin-bottom-huge {
    margin-bottom: 6rem;
}

//// Margin Top /////////
.util-margin-top-small {
    margin-top: 1rem;
}

.util-margin-top-medium {
    margin-top: 2rem;
}

.util-margin-top-big {
    margin-top: 4rem;
}

.util-margin-top-huge {
    margin-top: 6rem;
}

.util-margin-top-double-huge {
    margin-top: 10rem;
}

.whatsapp {
    fill: $color-whatsapp;
    color: $color-whatsapp;
}

.mail {
    fill: $color-mail;
    color: $color-mail;
}

.facebook {
    fill: $color-facebook;
    color: $color-facebook;
}