<section class="home">
    <app-inquiry></app-inquiry>
    <h1 class="heading-main util-margin-top-medium util-margin-bottom-huge">
        WEB ME DEV
    </h1>
    <h2 class="heading-secondary">
        We have covered you, Website, Web soultions, SEO, Digital Marketing, Softwares, Web App, Database managment.
    </h2>
    <div class="home-features util-margin-top-double-huge">
        <ul class="home-features-list">
            <li class="home-features-item">Static/Dynamic Website</li>
            <li class="home-features-item">Responsive Design</li>
            <li class="home-features-item">E-Commerce Website</li>
            <li class="home-features-item">Softwares</li>
            <li class="home-features-item">Digital Marketing</li>
        </ul>
    </div>
    <div class="wave"></div>
</section>
<section class="services">
    <h1 class="heading-main util-margin-bottom-medium">
        Our Services
    </h1>
    <div class="services-container">
        <div class="services-item">
            <svg class="services-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-display"></use>
        </svg>
            <h3 class="heading-tertiary">
                Website Development
            </h3>
            <p class="paragraph">
                Build a highly interactive and dynamic website with impeccable navigation features and improved functionalities using our extremely cost-effective website design services.
            </p>
        </div>
        <div class="services-item">
            <svg class="services-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-terminal"></use>
        </svg>
            <h3 class="heading-tertiary">
                Software Development
            </h3>
            <p class="paragraph">
                We offer offshore web and software application development, with the latest cutting edge technologies like, JAVA, Angular, HTML5, CSS, JS. We build the web services/api project.
            </p>
        </div>
        <div class="services-item">
            <svg class="services-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-cart"></use>
        </svg>
            <h3 class="heading-tertiary">
                E-Commerce Development
            </h3>
            <p class="paragraph">
                We Provide 'an entire checked' Online E-Commerce Online Store. You just simply incorporate your Products and Start Selling Online and make money. 100% Profit! No maintaince required.
            </p>
        </div>
        <div class="services-item">
            <svg class="services-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-search"></use>
            </svg>
            <h3 class="heading-tertiary">
                SEO-SEM Service
            </h3>
            <p class="paragraph">
                We help you manage your SEO campaign more efficiently and effectively. Our SEO experts have complete knowledge of optimizing your website to get top organic results in google, yahoo.
            </p>
        </div>
        <div class="services-item">
            <svg class="services-icon">
            <use xlink:href="../../assets/icons/sprite.svg#svg-stats-dots"></use>
        </svg>
            <h3 class="heading-tertiary">
                Digital Marketing
            </h3>
            <p class="paragraph">
                We focus on growing your business successfully with online marketing services. Increase conversions, traffic to your website, we can help you reach your goals.
            </p>
        </div>
        <div class="services-item">
            <svg class="services-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-database"></use>
            </svg>
            <h3 class="heading-tertiary">
                Database Solutions
            </h3>
            <p class="paragraph">
                We offer best-in-class services, whether you want to manage your company user data, business data. We are here for you. We have wide range of soultions, ranging from cloud to standalone.
            </p>
        </div>
    </div>
</section>
<section class="philosophy">
    <div class="bg-video">
        <video class="bg-video-content" autoplay muted loop>
            <source src="../../assets/video/Typing.mp4" type="video/mp4">
        </video>
    </div>
    <h1 class="heading-main">
        Work philosophy
    </h1>
    <div class="philosophy-round">
        <ul class="philosophy-list">
            <li class="philosophy-item philosophy-item-1">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-spades"></use>
            </svg>
                <div class="philosophy-text">Quality</div>
            </li>
            <li class="philosophy-item philosophy-item-2">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-checkbox-unchecked"></use>
            </svg>
                <div class="philosophy-text">Transparency</div>
            </li>
            <li class="philosophy-item philosophy-item-3">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-pushpin"></use>
            </svg>
                <div class="philosophy-text">Reliability</div>
            </li>
            <li class="philosophy-item philosophy-item-4">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-bubbles4"></use>
            </svg>
                <div class="philosophy-text">Proper Communication</div>
            </li>
            <li class="philosophy-item philosophy-item-5">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-link"></use>
            </svg>
                <div class="philosophy-text">Relationship</div>
            </li>
            <li class="philosophy-item philosophy-item-6">
                <svg class="philosophy-icon">
                <use xlink:href="../../assets/icons/sprite.svg#svg-cogs"></use>
            </svg>
                <div class="philosophy-text">Innovation</div>
            </li>
        </ul>
    </div>
</section>