<section class="home">
    <h1 class="heading-main util-margin-top-medium util-margin-bottom-huge">
        WEB ME DEV
    </h1>
    <h2 class="heading-secondary">
        We have covered you, Website, Web soultions, SEO, Digital Marketing, Softwares, Web App, Database managment.
    </h2>
    <div class="home-features util-margin-top-double-huge">
        <ul class="home-features-list">
            <li class="home-features-item">Static/Dynamic Website</li>
            <li class="home-features-item">Responsive Design</li>
            <li class="home-features-item">E-Commerce Website</li>
            <li class="home-features-item">Softwares</li>
            <li class="home-features-item">Digital Marketing</li>
        </ul>
    </div>
    <div class="wave"></div>
</section>