    @import "../shared/variables";
    @import "../shared/animations";
    .home {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../../assets/Images/39895488174_b6a604c878_b.jpg);
        background-size: cover;
        padding: 2rem 3rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .heading-main {
            font-size: 8rem;
        }
        .heading-secondary {
            text-align: center;
            width: 55%;
            text-transform: none;
        }
        &-features {
            width: 90%;
            &-list {
                display: flex;
                list-style: none;
                width: 100%;
                justify-content: space-between;
            }
            &-item {
                display: block;
                padding: 1rem 2rem;
                background-color: $color-white;
                color: $color-primary;
                font-weight: 600;
                border-radius: 1rem;
                cursor: pointer;
                transition: all .3s ease-in-out;
                &:hover {
                    transform: scale(1.2) translateY(-5px);
                    box-shadow: 0 4rem 6rem rgba($color-black, .4);
                }
            }
        }
    }
    
    .wave {
        background-image: url(../../assets/Images/wave.png);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 14.3rem;
        animation: wave 10s infinite linear;
        &::before {
            content: '';
            background-image: url(../../assets/Images/wave.png);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 14.3rem;
            animation: wave-reverse 10s infinite linear;
            opacity: .4;
        }
        &::after {
            content: '';
            background-image: url(../../assets/Images/wave.png);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 14.3rem;
            animation-delay: -5s;
            animation: wave 15s infinite linear;
            opacity: .6;
        }
    }
    
    ///service section
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: $color-white;
        .heading-main {
            color: $color-primary;
        }
        &-container {
            padding: 2rem 10rem;
            display: grid;
            min-height: 100vh;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 6rem;
        }
        &-item {
            outline: 1rem solid $color-primary-light;
            outline-offset: .5rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: #e6dbfd;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                outline-offset: 1.5rem;
                transform: scale(1.1);
            }
        }
        &-container:hover &-item:not(:hover) {
            transform: scale(.95);
        }
        &-icon {
            height: 5rem;
            width: 6rem;
            fill: $color-primary-light;
        }
        .heading-tertiary {
            color: $color-primary;
            text-align: center;
            margin-top: 1rem;
        }
        .paragraph {
            width: 90%;
            text-align: center;
            margin-top: auto;
            font-weight: 600;
        }
    }
    
    //Video
    .bg-video {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        margin-top: -1.9rem;
        &-content {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .philosophy {
        padding: 2rem 2rem 10rem 2rem;
        min-height: 100vh;
        width: 100%;
        position: relative;
        background-color: rgba($color-grey-light-3, $alpha: .5);
        -webkit-perspective: 1500;
        -webkit-perspective-origin: 50% 20rem;
        .heading-main {
            color: $color-primary;
            text-align: center;
        }
        &-list {
            list-style: none;
            position: relative;
            top: 160px;
            margin: 0 auto;
            height: 20rem;
            width: 20rem;
            -webkit-transform-style: preserve-3d;
            -webkit-animation: spin 20s infinite linear;
            -webkit-transform: translateZ(-20rem);
        }
        &-round {
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 2s;
            -webkit-transform-style: preserve-3d;
        }
        &-icon {
            height: 8rem;
            width: 8rem;
            fill: $color-white;
            margin-bottom: 2rem;
        }
        &-item {
            position: absolute; //to place items *
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .7));
            color: $color-white;
            text-transform: uppercase;
            text-align: center;
            padding: 5rem 9rem;
            font-size: 2rem;
            font-weight: 700;
            border-radius: 10px;
            min-height: 27rem;
            min-width: 27rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &-list>&-item-1 {
            -webkit-transform: translateZ(380px);
        }
        &-list>&-item-2 {
            -webkit-transform: rotateY(60deg) translateZ(380px);
        }
        &-list>&-item-3 {
            -webkit-transform: rotateY(120deg) translateZ(380px);
        }
        &-list>&-item-4 {
            -webkit-transform: rotateY(180deg) translateZ(380px);
        }
        &-list>&-item-5 {
            -webkit-transform: rotateY(240deg) translateZ(380px);
        }
        &-list>&-item-6 {
            -webkit-transform: rotateY(300deg) translateZ(380px);
        }
    }
    
    // #container {
    //     width: 100%;
    //     height: 700px;
    //     -webkit-perspective: 800;
    //     /* For compatibility with iPhone 3.0, we leave off the units here */
    //     -webkit-perspective-origin: 50% 110px;
    // }
    // #stage {
    //     width: 100%;
    //     height: 100%;
    //     -webkit-transition: -webkit-transform 2s;
    //     -webkit-transform-style: preserve-3d;
    // }
    // #shape {
    //     position: relative;
    //     top: 160px;
    //     margin: 0 auto;
    //     height: 200px;
    //     width: 200px;
    //     -webkit-transform-style: preserve-3d;
    // }
    // .plane {
    //     position: absolute;
    //     height: 200px;
    //     width: 200px;
    //     border: 1px solid white;
    //     -webkit-border-radius: 12px;
    //     -webkit-box-sizing: border-box;
    //     text-align: center;
    //     font-family: Times, serif;
    //     font-size: 124pt;
    //     color: black;
    //     background-color: rgba(255, 255, 255, 0.6);
    //     // -webkit-transition: -webkit-transform 2s, opacity 2s;
    //     /* -webkit-backface-visibility: hidden; */
    // }
    // #shape.backfaces .plane {
    //     -webkit-backface-visibility: visible;
    // }
    // #shape {
    //     -webkit-animation: spin 20s infinite linear;
    // }
    // #shape.ring {
    //     -webkit-transform: translateZ(-200px);
    // }
    // @-webkit-keyframes spin {
    //     from {
    //         -webkit-transform: rotateY(360deg);
    //     }
    //     to {
    //         -webkit-transform: rotateY(0);
    //     }
    // }
    // /* ---------- ring styles ------------- */
    // .ring>.one {
    //     -webkit-transform: translateZ(380px);
    // }
    // .ring>.two {
    //     -webkit-transform: rotateY(60deg) translateZ(380px);
    // }
    // .ring>.three {
    //     -webkit-transform: rotateY(120deg) translateZ(380px);
    // }
    // .ring>.four {
    //     -webkit-transform: rotateY(180deg) translateZ(380px);
    // }
    // .ring>.five {
    //     -webkit-transform: rotateY(240deg) translateZ(380px);
    // }
    // .ring>.six {
    //     -webkit-transform: rotateY(300deg) translateZ(380px);
    // }
    // .ring>.seven {
    //     -webkit-transform: rotateY(180deg) translateZ(380px);
    // }
    // .ring>.eight {
    //     -webkit-transform: rotateY(210deg) translateZ(380px);
    // }
    // .ring>.nine {
    //     -webkit-transform: rotateY(-120deg) translateZ(380px);
    // }
    // .ring>.ten {
    //     -webkit-transform: rotateY(-90deg) translateZ(380px);
    // }
    // .ring>.eleven {
    //     -webkit-transform: rotateY(300deg) translateZ(380px);
    // }
    // .ring>.twelve {
    //     -webkit-transform: rotateY(330deg) translateZ(380px);
    // }
    //     <section class="round">
    //     <div id="container">
    //         <div id="stage">
    //             <div id="shape" class="ring backfaces">
    //                 <div class="plane one">1</div>
    //                 <div class="plane two">2</div>
    //                 <div class="plane three">3</div>
    //                 <div class="plane four">4</div>
    //                 <div class="plane five">5</div>
    //                 <div class="plane six">6</div>
    //                 <!-- <div class="plane seven">7</div>
    //                 <div class="plane eight">8</div>
    //                 <div class="plane nine">9</div>
    //                 <div class="plane ten">10</div>
    //                 <div class="plane eleven">11</div>
    //                 <div class="plane twelve">12</div> -->
    //             </div>
    //         </div>
    //     </div>
    //     <!-- <div class="plane three">3</div> -->
    // </section>